<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../fav/gold.ico" type="image/x-icon">
</head>
<body>
    <!-- start of box a -->
<!-- start of navbar -->
<!-- controlled id is here menubar -->
<div class="vlmheader">
    <nav class="navbar">
        <div class="navbar-center">
            <div class="floatA">
                <img src="../images/vlm100.png" alt="">
            </div>
            <p class="logo">@Vma house</p>
            <div class="floatB">
                <img src="../images/vlmshop.png" alt="">
            </div>
        </div>
    </nav>
    <div class="vlmbar">
        
        <img src="../images/mountain1.png" alt="" id="vlayer1">
        <img src="../images/mountain2.png" alt="" id="vlayer2">
        <img src="../images/text.png" alt="" id="text">
    </div>
    <div class="vlmbar2">
        <h2>Life Adventure Starts in Kenya,,,,</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit molestiae eaque voluptas cumque minima quia ab aspernatur, itaque necessitatibus exercitationem architecto quisquam voluptatum recusandae nobis corrupti odio, deserunt harum distinctio!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat tempore expedita ipsam aspernatur aut tempora consequatur esse ea eaque, quas veniam tenetur, perferendis temporibus officiis soluta, adipisci veritatis itaque nobis?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aperiam repudiandae aut consequuntur fuga! Enim placeat quisquam molestiae officiis autem, dolorem est cum inventore, repudiandae debitis a possimus perspiciatis? Praesentium?
        </p>
    </div>
</div>

    <!-- end of navbar -->
    <!-- start of vlmbook -->
    <!-- start of vlmbook -->
    <div class="vlmapp">
        <div class="app1">
            <div class="app">
                <button id="left">Home</button>
                <button id="right">About</button>
            </div>
        </div>
    </div> 
    <!-- start of vlmbook -->
    <!-- start of news website is here -->
    
    <!-- start of news website is here -->


    
    
