<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
    <link rel="shortcut icon" href="../fav/fav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/dash.css">
</head>
<body>
    <!-- header part -->
    <header class="vmaheader">
        <nav  class="navdash">
            <!-- menu -->
       <div class="img">
        <img src="../images/vlm100.png" alt="">
        </div>
        <!-- search -->
        <div class="img1">
            <div class="id">
            <strong>+</strong>
            </div>
            <div class="inputs">
                <input type="text" placeholder="Search me ....">
            </div>
            <p id="vlmz">X</p>
        </div>
        <div class="img3">
            <img src="../images/dd.png " alt="">
        </div>
        </nav>
    </header>
    <!-- header part -->
    <!-- left bar -->
    <div class="leftbar">
        <div class="close">
            <img src="../images/close.png" alt="">
        </div>
        <hr id="hr">
        <div class="logoacc">
            <div class="pic">
                <img src="../images/vlm00.png" id="photo">
                <input type="file" id="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
        </div>
        <br>
        <ul>
            <li><a class="active" href="#home">Account</a></li>
            <li><a href="#news">Our groove</a></li>
            <li><a href="#contact">Vma@news</a></li>
            <li><a href="#about">Articles&Books</a></li>
            <li><a href="#about">Trending</a></li>
            <li id="device"><a href="#about">Device info</a></li>
            <li ><a href="#about">Help@support</a></li>
          </ul>

    </div>
    <!-- end of left bar -->

    <div class="dev">
        <div class="upper">
        <h2 style="text-align: center;">Device info & Storage</h2>
        </div>
        <div class="tab">
                <a href="#" class="active">Device info</a>
                <a href="#" id="storage">Storage</a>
                <a href="#" id="faqs">Faqs</a>
                <a href="#" id="fect">Features</a>
        </div>
        <div class="app">
            <span id="tar1">fistdiv</span>
            <span id="tar2">second div</span>
            <span id="tar3">third div</span>
            <span id="tar4">fourth div</span>
        </div>
    </div>

    <!-- footer part in heeadr -->
    <div class="footer">
        <div class="footernav">
            <div class="imgV">
                <img src="../images/vid.png" alt="">
            </div>

            <div class="imgV">
                <img src="../images/hits.png" alt="">
            </div>

            <div class="imgV">
                <img src="../images/ler.png" alt="">
            </div>

            <div class="imgV">
                <img src="../images/look.png" alt="">
            </div>
        </div>
    </div>
    <!-- footer part in heeadr -->



    <script src="../js/dash.js"></script>
    
</body>
</html>