<%- await include('./vpartial/header.ejs')  %> 
<title><%= title  %> </title>
<div class="wholesection">

    <!-- start of main box b -->
    <div class="vlmappA">
        <div class="vlmbg"></div>
        <header class="header">
            <a href="#" class="logo">Vma</a>
            <ul class="navigation">
                <li><a href="/" class="active">Home</a></li>
                <li id="vlmmenu"><a href="#">Menu</a></li>    
                <li id="vlmbook"><a href="#">Book@Events</a></li>
                <li><a href="#">Vma@news</a></li>
                <li><a href="/vma@login">login</a></li>
                <li><a href="/vma@signup">signup</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="textbox">
                <h2>Vma meat & wine</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat veniam non officiis nulla veritatis neque quas unde quo, inventore harum aliquid quis voluptates placeat doloribus maxime a nemo, nostrum ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus sequi illum ex magni deleniti mollitia suscipit provident atque temporibus natus placeat ratione hic asperiores, quidem dolore ipsam adipisci a.
                </p>
                <a href="/">Learn More</a>
            </div>
            <div class="imgbox">
                <img src="./images/clown.png" class="vlmchange" alt="">
            </div>
        </div>
        <ul id="vlmthumb">
            <li data-text="Tomahawk"><img src="./images/clown.png" onclick="img('./images/clown.png'); color('linear-gradient(#000,rgb(39, 147, 161),rgb(34, 159, 168),rgb(225, 255, 223))');" alt=""></li>
            <li data-text="Mango"><img src="./images/mango.png" onclick="img('./images/mango.png'); color('linear-gradient(rgb(8, 11, 49), rgb(207, 47, 36),rgb(255, 60, 0),rgb(230, 177, 173))');"  alt=""></li>
            <li data-text="Watermelon"><img src="./images/watermelon.png" onclick="img('./images/watermelon.png'); color('linear-gradient(#000, blue,blue,lightblue)');"  alt=""></li>
            <li data-text="Dragonfruit"><img src="./images/dragonfruit.png" onclick="img('./images/dragonfruit.png'); color('linear-gradient(#000,rgba(168, 180, 178, 0.897),rgba(167, 164, 161, 0.76),rgb(254, 223, 255))');"  alt=""></li>
            <li data-text= "Pineapple"><img src="./images/pineApple.png" onclick="img('./images/pineApple.png'); color('linear-gradient(#000,rgb(101, 163, 30),rgb(83, 168, 34),rgb(165, 247, 158))');" alt=""></li>
        </ul>
        <!-- social icons -->
        <!-- <ul class="sci">
            <li><a href="#"><img src="#" alt="">F</a></li>
            <li><a href="#"><img src="./images/vtwitter.png" alt=""></a></li>
            <li><a href="#"><img src="#" alt="">I</a></li>
        </ul> -->
    </div>
<!--end of main box b-->

<!-- start of main1 box c -->
<div class="vlmappB">
        
</div>
<!--end of main1 box c -->


<!-- start of main1 box d -->
<div class="vlmappC">
        
</div>
<!--end of main1 box d-->
</div>
<!-- end of box a -->

</div>






<%- await include('./vpartial/footer.ejs')  %> 
